/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
    
	display: block;
    
}

* {
  box-sizing: border-box;
  text-align: center;
}

html {
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #555;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #DDDCD8;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, #DDDCD8, white);
    background: -moz-linear-gradient( to left top, #DDDCD8, white);
    background: -ms-linear-gradient( to left top, #DDDCD8, white);
    background: -o-linear-gradient( to left top, #DDDCD8, white);
    background: linear-gradient( to left top, #DDDCD8, white);
    
}

.clear {
    
    clear: both;
    
}

body {
    
    width: 960px;
    margin: 0 auto;
    font-family: 'Khula', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

header {
    
    padding: 15px;
  	margin: 10px;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    font-size: 48px;
    
}

p {

    text-align: left;
}

section {
    
    width: 465px;
    position: relative;
    
    
}

.displayNumber {

    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
}

.crystals {

    padding:15px;
    margin:10px;
    width:25%;
    display: table-cell;
}

.paragraphHead {
    
    color: #ebebeb;
    background-color: #777;
    padding: 15px;
    margin:10px;
    text-transform: uppercase;
}


.inside {
    
    padding: 15px;
  	margin: 10px;
    background-color: #ebebeb;
    color: #777;
    
}

.tally {

    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;

}

#losses {

    color:#714067;

}

#wins {

    color:#3F7885;
}

.container {
    
    display: table;
  	margin: 0 auto;
    
}

.row {
    
    display: table-row;
}

.column {
    
    display: table-cell;
    background-color: #ebebeb;
}

.spacer {
    
    width:10px;
}
